
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: local;
    background-color: #8f913e;
    color: rgb(0, 0, 0);
   
}
body {
    background-color: #dacf01;
}